<div class="flex flex-row gap-y-1 gap-x-4 px-4 py-3">
  <div #titleBox class="flex flex-col px-2">
    <span class="font-bold text-lg text-center">{{title}}</span>
    <div class="grow flex justify-center items-center">
      <span class="font-extrabold text-xl">{{quantity}}</span>
    </div>
  </div>
  <div [ngStyle]="{'width': (((titleBox | elementSize)?.width || 0 ) * colsPropertiesData) + 'px'}" [class]="'grid grid-rows-2 grid-flow-col gap-y-1 gap-x-4 pt-5 pb-4 text-primary-700 dark:text-primary-300 font-bold text-sm grid-cols-' + colsPropertiesData">
    <div *ngFor="let item of data | keyvalue" class="row-span-1 col-span-1">
      <div class="flex">
        <div class="grow">
          <span class="capitalize">{{item.key}}</span>
        </div>
        <span>{{item.value}}</span>
      </div>
    </div>
  </div>
</div>
